

#dot {
	text-align: center;
	padding: 0px 0 80px 0;
	font-size: 90px;
	color: DeepSkyBlue;
	font-family: 'Codystar', cursive;
	font-weight: bold;
	text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
}

#dot1 {
	text-align: center;
	font-size: 90px;
	color: DeepSkyBlue;
	font-family: 'Codystar', cursive;
	font-weight: bold;
	text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
}	

#tag-line {
	font-size: 26px;
	padding: 0px 0 90px 0;
	color: DeepSkyBlue;
	font-weight: bold;
	font-style: italic;
	font-family: 'Cabin', sans-serif;

}
.container-fluid{
	margin:0 ;
	padding:0 ! important;

}



.navbar {
	background-color: DeepSkyBlue;
	color: white;
	border-color: DeepSkyBlue;

}

.navbar-inverse .navbar-toggle {
	border-color: white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: DeepSkyBlue;
}


.navbar-brand {
	font-family: 'Codystar', cursive;
	font-weight: bold;
	color:white;
}

.alpha li a{
	font-family: 'Codystar', cursive;
	font-weight: bold;
	text-align: right;
}


.bar_prob {
	width: 1000px;
}



.jumbotron {
	max-height:500px;
	min-height:500px;
	width:100%;
	background: url("https://media2.fdncms.com/boiseweekly/imager/u/original/3808180/78nj6a0234.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
	text-align: center;

}
iframe{
	color: deepskyblue;
	align-self: center;
}


.containerbuttonsold {
	padding: 30px 0px 30px 0;
	background: DeepSkyBlue;
	align-content: center;
	margin: 0;
}



/* Add a hover effect if you want */
.btn:hover {
    opacity: 0.7;
}

.btn {
	padding: 0px 0px;
	border: 0;
}


.containerfact {
	padding: 40px 0 50px 0 ;
}

#aboutus {
	padding: 40px 0 10px 0 ;
}
