
.jumbotron h1 {
	text-align: center;
	padding: 320px 0 0 0;
	font-size: 80px;
	color: DeepSkyBlue;
	font-family: 'Codystar', cursive;
	font-weight: bold;
	background: rgba(77,88,99,0.7);

}

.jumbotron {
	min-height: 600px;
	background-image: url("https://2dbdd5116ffa30a49aa8-c03f075f8191fb4e60e74b907071aee8.ssl.cf1.rackcdn.com/15078941_1475620539.7045.jpg"); 
	background-size:cover; 
	background-attachment: fixed;

}

.navbar_navbar-inverse_navbar-fixed-top{
	background: DeepSkyBlue;
	color: white;

}
.navbar-brand {
	color: SlateGrey;
	font-family: 'Codystar', cursive;
	font-weight: bold;
}
.navbar_navbar-inverse_navbar-fixed-top li a{
	color: LightCyan;
	font-family: 'Codystar', cursive;
	font-weight: bold;
}
.jumbotron h2 {
	font-family: 'Dancing Script', cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 50px;
	color: DeepSkyBlue;

}

